# Auto generated, make sure to run with "node --env-file=.env or use dotenv"
INIBASE_SECRET=

INIBASE_COMPRESSION=false
INIBASE_CACHE=true

# Prepend new items to the beginning of file
INIBASE_PREPEND=true

# NOTE:
# When creating new tables, if no config are passed to the createTable function, it will use default config from .env