# Dependency directories
/node_modules/
package-lock.json
pnpm-lock.yaml

# dotenv environment variables file
.env

# Distribution
dist

# Test
test
*.test.*

# Demo data to import
data
import.js
search.js