# Config
.idx/*
.vscode/*
biome.json
*-lock.json

# Dependency directories
/node_modules/

# dotenv environment variables file
.env

# Distribution
dist

# Test
test
*.test.*

# Demo data to import
data
import.js
search.js